main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #f5f5f5;
  min-height: 50vh;
  width: 90vw;
  margin: 0 auto;

  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .roll-count {
    border: 1px solid #5035ff;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.3rem 0rem;
    text-align: center;
  }

  .stopwatch {
    width: 10rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1rem 0;
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: center;
  }

  .best-score {
    @extend .stopwatch;
    margin-bottom: -4rem;
    border-radius: 0.5rem 0.5rem 0 0;

    i {
      color: gold;
      text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
      margin-right: 0.5rem;
    }
  }

  .die-container {
    display: grid;
    place-items: center center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .roll-btn {
    background-color: #5035ff;
    padding: 1rem 0;
    width: 10rem;
    border-radius: 0 0 0.5rem 0.5rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .stop-reset-btn {
    @extend .best-score;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .title {
    font-size: 2rem;
    margin-bottom: -3rem;
  }

  .instructions {
    text-align: center;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  main {
    width: 80%;

    .stopwatch {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .best-score {
      left: 0;
      transform: translateX(0);
      border-radius: 0 0 0.5rem 0;
    }

    .stop-reset-btn {
      left: auto;
      right: 0;
      border-radius: 0 0 0 0.5rem;
    }

    .title {
      font-size: 3rem;
      margin-top: 3rem;
    }

    .instructions {
      width: 80%;
    }

    .die-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
